@import "variables_etc/variables";
@import "variables_etc/mixins";

.appllicant-page {
	h1 {
		margin-bottom: 32px;
	}
	h2 {
		font-size: 30px;
		line-height: 89px;
	}
}
.appllicant-page .admin-table-footer a:first-child {
	width: 192px;
	margin: 29px 0 34px calc(50% - 96px);
}
.del-oredit-appll {
	overflow: hidden;
	padding: 14px 0 17px;
	border-top: 1px solid $border-grey;
	border-bottom: 1px solid $border-grey;	
	a {
		float: left;
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		line-height: 50px;
		color: #222427;
		text-transform: uppercase;
		border-radius: 6px;
		&:last-child {
			float: right;
			padding: 0 28px;
			color: $white;
			background-color: $blue;
			&:hover {
				background-color: $h-blue;
			}
		}
	}
}
.appllicant-page .lt-content-top {
	li {
		&:nth-child(1) span,
		&:nth-child(2) span {
			padding-right: 16px;
            cursor: pointer;
			background: #f9f9fa url(../images/arrow-to-down.png) 100% 50% no-repeat;
		}
	}
}
.list-logs {
    .admin-lt-content{
        li:first-child {
        width: 130px;
    }
    li:nth-child(2) {
        width: 185px;
    }
    .lt-content-main li:nth-child(3) {
        line-height: 24px;
        width: 480px;
        padding-top: 25px;
    }
    li:nth-child(4) {
        width: 165px;
    }
    .lt-content-top li:nth-child(3) {
        width: 480px;
    }
    }
    .left-side {
        float: left;
        width: 50%;
    }
    .right-side {
        float: right;
        width: 50%;
    }
    a:hover{
        text-decoration: none;
    }
    .submit-button {
        background-color: #00aeef;
        border-radius: 2px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        line-height: 53px;
        margin-top: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 150px;
        border: none;
        &:hover {
            background-color: #10b8f7;
        }
    }
}
#cke_1_bottom {
    background: transparent !important;
    border-top: none !important;
}
#cke_1_top, .cke_toolgroup, .cke_top {
    background: transparent !important;
}
.appllicant-page .admin-lt-content {
	.lt-content-main li:last-child {
		padding-left: 0;
		width: 72px;
	}
	li {
		padding-left: 12px;
		&:first-child {
			padding-left: 34px;
			width: 626px;
		}
		&:nth-child(2) {
			width: 155px;
		}
		&:nth-child(3) {
			width: 112px;
		}
		&:nth-child(4) {
			width: 72px;
		}
	}
}
.appllicant-page .admin-lt-content .lt-content-main {
	border-bottom: none;
	/*border-top: 3px solid #211d1e;*/
	&.top-bd-blue {
		border-top: 3px solid $blue;
	}
	&.top-bd-green {
		border-top: 3px solid $green;
	}
	&.top-bd-red {
		border-top: 3px solid $red;
	}
	li {
		line-height: 72px;
		&:first-child {
			padding-left: 34px;
		}
	}
	&:last-child {
		border-bottom: 1px solid $border-grey;
	}
}
.appllicant-page .lt-head-btns div {
	/*color: #bcbcbd;*/
	padding: 0 18px;
	&:hover {
		font-weight: normal;
        cursor: pointer;
		/*color: #bcbcbd;
		background-color: $white;*/
	}
}
.front-applicant {
    .tabs-content {
        background-color: #f7f8fa;
        padding-left: 40px;
        margin-left: 0;
        width: 100%;
    }
    .aplicant-tabs-label div {
        background-color: #f7f8fa;
    }
    .aplicant-tabs-label div.active-tabs-label {
        background-color: #00aeef;
    }
    .aplicant-tabs-label div:hover {
        background-color: #00aeef !important;
    }
    .wrap-with-menuPanel {
        padding-top: 25px;
    }
    .c-cnt-pagename {
        margin-top: 15px;
    }
    .name-full-textarea {
        width: 815px;
    }
}
.add-complaint-page .errorMessage {
    margin-top: 25px;
    margin-bottom: -10px;
}
.edit-aplicant, .complaints-preview-wrap, .front-applicant, .edit-complaint-page, .add-complaint-page, .front-applicant {
    .file-wrapper {
        width: 245px;
        cursor: pointer;
        .text-above {
            color: #222427;
            font-size: 22px;
            font-family: "Open Sans";
            padding-left: 28px;
            background-image: url(../images/icon-screp.png);
            background-repeat: no-repeat;
            background-position: left center;
        }
        #upload-files {
            opacity: 0;
            margin-top: -28px;
            cursor: pointer;
            display: block;
            width: 150px;
        }
    }
    .file-names {
        padding-left: 28px;
        margin-bottom: 15px;
        p {
            margin-bottom: 0;
            margin-top: 3px;
        }
    }
    .attached-files {
        .attached-file-row {
            .file-link {
                color: #34383e;
                float: left;
                margin-left: 10px;
                div {
                    color: #34383e;
                    font-size: 18px;
                    line-height: 28px;
                    font-family: "Open Sans";
                }
                &:hover {
                    color: #34383e;
                    text-decoration: none;
                }
            }
            .file-icon {
                width: 18px;
                height: 21px;
                float: left;
                margin-top: 3px;
            }
        }
        .delete-file {
            width: 28px;
            height: 28px;
            float: left;
            background: url(../images/icon-file-del.png) center no-repeat;
            cursor: pointer;
        }
        .pdf-file {
            background: url(../images/upload-icons.png) right bottom no-repeat;
        }
        .msword-file {
            background: url(../images/upload-icons.png) right top no-repeat;
        }
        .image-file {
            background: url(../images/upload-icons.png) left bottom no-repeat;
        }
        .archive-file {
            background: url(../images/upload-icons.png) left top no-repeat;
        }
    }
}
.edit-complaint-page.edit-now {
    .attached-file-row:first-child {
        margin-top: 10px;
    }
}
.add-complaint-page, .front-applicant, .edit-complaint-page.edit-now {
    .attached-file-row {
        padding: 4px 0 !important;
        .file-icon {
            margin-top: 0 !important;
        }
        .delete-file {
            width: 26px !important;
            height: 26px !important;
        }
        .file-link {
            font-size: 16px;
        }
        &:last-child {
            margin-bottom: 10px;
        }
    }
    #attached-file-0 {
        margin-top: 10px;
    }
    .file-names {
        margin-bottom: 0 !important;
    }
}
.front-applicant {
    .file-names {
        padding-left: 0 !important;
    }
}
.list-arguments .lt-head-btns {
    div {
        padding: 0 18px;
        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}
.appll-status-icon {
	margin: 26px auto 0;
	width: 22px;
	height: 22px;
	background: url(../images/icon-jl-chernov.png) 0 0 no-repeat;
}
.top-bd-blue .appll-status-icon {
	background-image: url(../images/icon-jl-rassmotr.png);
}
.top-bd-green .appll-status-icon {
	background-image: url(../images/icon-jl-done.png);
}
.top-bd-red .appll-status-icon {
	background-image: url(../images/icon-jl-notdone.png);
}
.appllicant-page .lt-head-btns {
	div {
		cursor: default;
	}
}
.appllicant-page .lt-head-btns.active-lt-head-btns {
	div {
		cursor: pointer;
		&:not(:last-child):hover {
			color: $white;
			background-color: $h-blue;
		}
		&:last-child {
			color: $blue;
		}
	}
}
.appllicant-page .lt-content-main {
	position: relative;
	li {
		position: relative;
		z-index: 9;
	}
}
.message-page {
  .c-cnt-pagename {
    margin-bottom: 0;
  }
  .admin-lt-head {
    border-top: none;
    border-bottom: 3px solid $blue;
    #delete-button {
      margin: 15px 0 0;
      width: 202px;
      font-size: 18px;
      line-height: 50px;
      font-weight: 600;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      border: none;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      background-color: $blue;
      &:hover {
        background-color: $h-blue;
      }
    }
  }
  .lt-content-top {
    li {
      padding-left: 0;
      text-align: center;
      text-transform: none;
      span {
        font-size: 20px;
      }
    }
    li:first-child {
        width: 245px;
        border-left: 1px solid #e0e3ea;
    }
    li:nth-child(2) {
        width: 560px;
        line-height: 75px;
        overflow: hidden;
    }
    li:nth-child(3) {
        width: 165px;
        border-right: 1px solid #e0e3ea;
        span {
            background-image: none;
        }
    }
  }
  .lt-content-main {
    &.new-message {
      font-weight: bold;
    }
    li {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    li:first-child {
      padding-left: 33px !important;
      width: 245px;
      &:after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 3px;
        height: 76px;
      }
    }
    li:nth-child(2) {
      width: 560px;
      line-height: 75px;
    }
    li:nth-child(3) {
      padding-left: 0;
      width: 165px;
      text-align: center;
      border-right: 1px solid #e0e3ea;
    }
  }
}