.argumentsComplaints {
  padding: 0 40px 40px;
  &:after {
    @include hasla;
  }
  button {
    float: right;
    margin: 30px 0 0;
    &:hover {
      background-color: $h-blue;
    }
  }
  .custom-options {
    margin: 0;
  }
  .arguments-steps {
    margin: 40px 0 30px;
    &:after {
      @include hasla;
    }
  }
  .current-option {
    padding-bottom: 10px;
    span {
      text-transform: uppercase;
    }
  }
}
.word-argCompl-find {
  position: relative;
  height: 40px;
  margin-top: 20px;
  p {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-out;
    &:hover {
      color: $blue;
    }
  }
}
.word-argCompl-input {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px;
    width: 440px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e0e3ea;
    border-radius: 2px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 150px;
    font-size: 14px;
    line-height: 40px;
  }
}
.steps-line {
  position: relative;
  float: left;
  width: 32%;
  height: 35px;
  &.arg-dunStep,
  &.arg-nextStep{
    span {
      color: #34383e;
    }
    div {
      background-color: $blue;
      &:after {
        background-color: $blue;
      }
    }
  }
  &:first-child {
    width: 4%;
    span {
      right: auto;
      left: 0;
      width: 50px;
    }
  }
  &:nth-child(2) {
    span {
      right: -14px;
    }
  }
  &:nth-child(3) {
    span {
      right: -14px;
    }
  }
  &:last-child {
    div {
      &:after {
        right: 15px;
      }
    }
  }
  span {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 14px;
    text-transform: uppercase;
    color: #eff2f7;
  }
  div {
    position: relative;
    top: 3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eff2f7;
    &:after {
      position: absolute;
      content: '';
      top: -3px;
      right: 0;
      width: 8px;
      height: 8px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #eff2f7;
    }
  }
}
.arg-nextStep {
  + li {
    div {
      -webkit-animation: line 3s ease-in infinite;
      -o-animation: line 3s ease-in infinite;
      animation: line 3s ease-in infinite;
      &:after {
        -webkit-animation: bullet 3s ease-in infinite;
        -o-animation: bullet 3s ease-in infinite;
        animation: bullet 3s ease-in infinite;
      }
    }
    span {
      -webkit-animation: span 3s ease-in infinite;
      -o-animation: span 3s ease-in infinite;
      animation: span 3s ease-in infinite;
    }
  }
}
@keyframes line {
  0% {
    background-color: #eff2f7;
  }
  50% {
    background-color: $blue;
  }
  100% {
    background-color: #eff2f7;
  }
}
@keyframes bullet {
  0% {
    background-color: #eff2f7;
  }
  50% {
    background-color: $blue;
  }
  100% {
    background-color: #eff2f7;
  }
}
@keyframes span {
  0% {
    color: #eff2f7;
  }
  50% {
    color: #34383e;
  }
  100% {
    color: #eff2f7;
  }
}
.btn-div {
  float: left;
  margin-top: 30px;
  width: 202px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  background-color: #00aeef;
  cursor: pointer;
  &:hover {
    background-color: $h-blue;
  }
}
.argCompl-review {
  @include box-s;
  padding: 10px 0 10px 15px;
  width: 100%;
  max-height: 200px;
  border: 1px solid #e0e3ea;
  p {
    margin-right: 10px;
  }
}