.opacity-cap-compl {
  float: left;
  width: 202px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  background-color: #00aeef;
  cursor: pointer;
  &:hover {
    background-color: $h-blue;
  }
}
.c-jd2-f-dov-b.addArgContainer {
  width: auto;
}
.c-jd2-f-save.addArgContainer {
  width: auto;
  float: right;
}
.add-complaint-page {
    .c-jadd1 {
        padding: 30px 40px 22px 40px;
    }
    input[type="checkbox"] + label {
        line-height: unset;
    }
    .c-cs-cb {
        margin-top: 35px;
        label {
            margin-bottom: 0;
            text-transform: none;
        }
    }
    .c-jadd3 {
        display: none;
    }
}