@import "variables_etc/variables";
@import "variables_etc/mixins";

.bread-crumbs-holder {
	margin: 0 0 10px 6px;
	a {
		padding-left: 23px;
		font-size: 14px;
		color: #adaeb0;
		text-transform: uppercase;
		background: url(../images/bread-crumbs-arrow.png) 0 50% no-repeat;
	} 
}
.notification-number-box {
	line-height: 92px;
	font-weight: 100;
	font-size: 30px;
	border-top: 3px solid $blue;
	border-bottom: 1px solid $border-grey;
	p {
		padding-left: 42px;
		overflow: hidden;
	}
	&.notif-unreasonably {
		border-top: 3px solid $red;
		.rightly-wrongly {
			color: $red;
		}
	}
	.rightly-wrongly, .jl-status {
		float: right;
		padding-right: 42px;
		width: 204px;
		color: $blue;
		font-weight: 400;
		font-size: 16px;
		text-align: right;
		text-transform: uppercase;
		border-left: 1px solid $border-grey;
	}
    .jl-status {
        line-height: unset;
        color: $red;
        background-position: 28px 50%;
    }
}
.edit-notification-box {
	padding-left: 42px;
	&:after {
		@include hasla;
	}
	a {
		float: left;
		margin-right: 52px;
		color: $blue;
		line-height: 82px;
		text-transform: uppercase;
		&:hover {
			color: #bfc0c2;
		}
	}
	.edit-notif-active {
		color: #bfc0c2;
	}
}
.deploy-complaint {
	font-size: 14px;
	line-height: 69px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid $border-grey;
	border-top: none;
	span {
		padding-right: 24px;
		cursor: pointer;
		background: url(../images/icon-arr-dwn.png) 100% 40% no-repeat;
		&.dep-up {
			background: url(../images/icon-arr-up.png) 100% 40% no-repeat;
		}
	}
}
.complaints-content {
	display: none;
	margin-top: 38px;
	padding: 0 42px 43px;
	border-top: 3px solid $blue;
	h2 {
		padding: 32px 0 28px;
		border-bottom: 1px solid $border-grey;
	}
}
.complaints-doc {
	margin-left: -21px;
	padding: 22px 0 13px;
	p {
		position: relative;
		margin-bottom: 16px;	
		padding-left: 50px;
		font-size: 16px;
		line-height: 21px;
		span {
			position: absolute;
			top: 0;
			width: 18px;
			height: 21px;
			background-repeat: no-repeat;
			background-image: url(../images/upload-icons.png);
		}
	}
	p:first-child {
		span:first-child {
			left: 0;
			background-position: 0 0;
		}
		span:last-child {
			left: 22px;
			background-position: -32px 0;
		}
	}
	p:last-child {
		span:first-child {
			left: 0;
			background-position: 0 -29px;
		}
		span:last-child {
			left: 22px;
			background-position: -32px -29px;
		}
	}
}
.complaints-main {
	border: 1px solid $border-grey;
	padding-left: 24px;
	/*max-height: 841px;*/
	h3 {
		margin-bottom: 18px;
	}
	p, li {
		margin-bottom: 14px;
		font-size: 16px;
		line-height: 28px;
	}
	ul {
		margin-left: 18px;
	}
	h4 {
		margin-bottom: 10px;
	}
	li {
		padding-left: 22px;
	}
}
.complaints-preview-wrap {
    h1 {
        font-size: 46px;
        line-height: 1.1;
        font-weight: 100;
        margin: 0 0 16px 1px;
    }
    .complaints-content h2 {
        padding: 32px 0 28px;
        border-bottom: 1px solid #e0e3ea;
        font-size: 32px;
        line-height: 1.1;
        font-weight: 100;
    }
    .complaints-main h3, .complaints-lawyer-quest h3 {
        margin-bottom: 18px;
        font-size: 32px;
        line-height: 1.1;
        font-weight: 100;
    }
    .complaints-lawyer-quest h3 {
        margin-bottom: 10px;
    }
    .compl-quest-cont form::before {
        background-color: #e0e3ea;
        bottom: 0;
        content: "";
        height: 1px;
        left: -35px;
        position: absolute;
        width: 963px;
    }
    .compl-quest-cont:last-child form::before {
        display: none;
    }
    .compl-quest-cont form::after {
        content: '';
        display: block;
        clear: both;
    }
    .compl-quest-cont:last-child form {
        padding-bottom: 50px;
    }
    .complaints-main {
        padding: 20px 70px 20px 24px;
    }
    .bread-crumbs-holder a:hover {
        text-decoration: none;
    }
    .notification-number-box .rightly-wrongly {
        box-sizing: initial;
    }
    .edit-notification-box {
        a {
            font-size: 16px;
        }
        a:hover {
            text-decoration: none;
        }
    } 

}
 
/*.complaints-lawyer-quest form:last-child::before {
    display: block;
}*/

/*.complaints-lawyer-quest form:last-child {
    padding-bottom: 84px;
}*/



.complaints-lawyer-quest {
	margin-top: 43px;
	padding: 40px 0 34px 35px;
	border: 1px solid $border-grey;
	border-top: 3px solid $blue;
	h3 {
		margin-bottom: 10px;
	}
	form {
		position: relative;
		padding-bottom: 84px;
		width: 740px;
		&:after {
			@include hasla;
		}
		&:before {
			position: absolute;
			content: '';
			bottom: 0;
			left: -35px;
			width: 963px;
			height: 1px;
			background-color: $border-grey;
		}
		&:not(:first-child) {
			margin-top: 30px;
		}
		p {
			margin-bottom: 5px;
			font-size: 20px;
			line-height: 32px;
			font-weight: 100;
			font-style: italic;
			color: $blue;
		}
		span {
			display: none;
			opacity: 0;
			font-size: 16px;
			margin-bottom: 15px;
		}
		textarea {
			margin-bottom: 24px;
			padding: 0;
			width: 0;
			height: 0;
			resize: none;
			font-size: 20px;
			font-style: italic;
			font-weight: 100;
			line-height: 32px;
			font-family: 'Open Sans', sans-serif;
			color: #34383e;
			border-radius: 2px;	
			border: 1px solid $blue;
			@include box-s;
		}
		button {
			position: absolute;
			top: 72px;
			left: 0;
			z-index: 1;
			width: 140px;
			color: $white;
			font-size: 14px;
			line-height: 50px;
			font-weight: 600;
			border: none;
			border-radius: 6px;
			text-transform: uppercase;
			background-color: $blue;
			cursor: pointer;
			outline: none;
			&:hover {
				background-color: #10b8f7;
			}
		}
	}
}
.compl-quest-cont {
	position: relative;
	padding-right: 174px;
	& > p {
		font-size: 24px;
		line-height: 34px;
		font-weight: 100;
		font-style: italic;
	}
}
.legal-advisor {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 130px;
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	div {
		margin: 0 auto 15px;
		width: 96px;
		height: 96px;
		overflow: hidden;
		border-radius: 50%;	
		img {
			width: 100%;
		}
	}
	p {
		margin-bottom: 10px;
		font-weight: 900;
		text-transform: uppercase;
	}
	span {
		font-weight: 100;
		font-style: italic;
	}
}
.hidden-textarea {
	display: none;
	width: 100%;
	div {
    	position: absolute;
    	top: 98px;
		right: 5px;
		width: 14px;
		height: 14px;
		opacity: 0;
		cursor: pointer;
		background: url(../images/icon-tag-del.png) 50% 50% no-repeat;
	}
}
.opacity-btn {
	position: absolute;
	top: 72px;
	left: 0;
	z-index: 2;
	width: 140px;
	height: 50px;
	cursor: pointer;
	&:hover {
		background-color: rgba(255,255,255,0.1);
	}
}
.clarifying-issue {
	padding: 70px 0 70px 110px;
	p {
		margin-bottom: 14px;
		font-size: 16px;
		line-height: 28px;
	}
}

/* Scroll styling */
.complaints-main .mCSB_inside > .mCSB_container {
    padding: 20px 70px 20px 0;
}

.complaints-list {
    .admin-lt-content {
        li:first-child {
            border-left: medium none;
            padding-left: 0;
            width: 0;
        }
        li:nth-child(2) {
            width: 425px;
            border-left: none;
            line-height: 24px;
        }
        li:nth-child(3) {
            width: 175px;
        }
        li:nth-child(4) {
            width: 95px;
        }
        li:nth-child(5) {
            width: 95px;
            padding-right: 11px;
        }
        li:nth-child(6) {
            width: 175px;
        }
    }
    .lt-content-top li:nth-child(2) {
        border-left: medium none;
        line-height: 75px;
        width: 425px;
        /*li:first-child {
            
        }*/
    }
    .lt-content-top li:nth-child(6) span {
        background: #ffffff url("../images/arrow-to-down.png") no-repeat scroll 100% 50%;
        cursor: pointer;
        padding-right: 16px;
    }
    .lt-content-main {
        li:nth-child(7) {
            text-align: center;
        }
        .has-questions {
            width: 100%;
            display: inline-block;
            height: 100%;
            background: rgba(0, 0, 0, 0) url("../images/icon-lm-dd.png") no-repeat scroll center center;
        }
        .no-questions {
            width: 100%;
            display: inline-block;
            height: 100%;
            background-position: 50% 50%;
            background: rgba(0, 0, 0, 0) url("../images/icon-lm-ddcl.png") no-repeat scroll center center;
        }
    }
    h1 {
        display: inline-block;
        margin-bottom: 32px;
    }
    .admin-lt-holder {
        border-top: 1px solid #e0e3ea;
    }
}
