.listArguments {
  overflow: hidden;
  h1 {
    display: inline-block;
    margin-bottom: 0;
  }
}
.admin-add.add-arg {
  display: inline-block;
  margin: 10px 0 20px;
  padding: 0 50px;
  width: auto;
  font-size: 18px;
}