.pamyatka {
  padding: 20px 40px 0;
  &__titleDscr {
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: 100;
    &-minMg {
      margin-bottom: 8px;
    }
    &-bottom {
      margin-top: 50px;
      margin-bottom: 100px;
    }
  }
}
.pamyatkaDscrBox {
  &__pamyatkaListTile {
    margin-bottom: 10px;
    font-size: 16px;
    &-maxMg {
      margin-bottom: 26px;
    }
  }
}
.pamyatkaList {
  margin-bottom: 26px;
  padding: 0 34px;
  &-minMg {
    margin-bottom: 10px;
  }
  &__item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 22px;
    font-size: 16px;
    &:before {
      position: absolute;
      content: '';
      top: 10px;
      left: 0;
      width: 16px;
      height: 7px;
      background: url('../images/helpArrow-black.png') 0 0 no-repeat;
    }
  }
  &__doubleList {
    padding-top: 10px;
  }
  &__doubleItem {
    position: relative;
    margin-bottom: 10px;
    padding-left: 28px;
    font-size: 16px;
    &:before {
      position: absolute;
      content: '';
      top: 12px;
      left: 12px;
      width: 10px;
      height: 1px;
      background-color: #000000;
    }
    &-dscr {
      &:before {
        position: static;
      }
    }
  }
}