@import "variables_etc/variables";
@import "variables_etc/mixins";

.user-list {
	h1 {
		display: inline-block;
		margin-bottom: 32px;
	}
}
.admin-add.userAdd {
	width: 244px;
    margin-top: -5px;
}
.user-list .lt-content-top {
	text-transform: uppercase;
	li {
		/*&:nth-child(3) span,
		&:nth-child(4) span {
			background: none;
		}*/
		&:nth-child(1) span,
		&:nth-child(2) span,
		&:nth-child(5) span,
		&:nth-child(6) span {
            cursor: pointer;
			padding-right: 16px;
			background: $white url(../images/arrow-to-down.png) 100% 50% no-repeat;
		}
	}
}
.user-list .admin-lt-content {
    ul {
        &:hover {
            li:nth-child(5) {
                font-weight: normal;
            }
        }
    }
    li {
        &:first-child {
            padding-left: 32px !important;
            width: 410px;
        }
        &:nth-child(2) {
            width: 155px;
        }
        &:nth-child(3) {
            width: 105px;
        }
        &:nth-child(4) {
            width: 90px;
        }
        &:nth-child(5) {
            width: 120px;
        }
        &:nth-child(6) {
            width: 85px;
        }
        /*&:nth-child(7) {
            width: 56px;
        }*/
    }
}
.applicant-list .admin-lt-content {
    li {
        &:first-child {
            padding-left: 32px !important;
            width: 450px;
        }
        &:nth-child(2) {
            width: 155px;
        }
        &:nth-child(3) {
            width: 270px;
        }
        &:nth-child(4) {
            width: 90px;
        }
    }
    .lt-content-top {
        li:first-child span, li:nth-child(2) span {
            background: #ffffff url("../images/arrow-to-down.png") no-repeat scroll 100% 50%;
            cursor: pointer;
            padding-right: 16px;
        }
    }
}
.list-logs .admin-lt-content {
    .lt-content-top {
        li:first-child span, li:nth-child(2) span {
            background: #ffffff url("../images/arrow-to-down.png") no-repeat scroll 100% 50%;
            cursor: pointer;
            padding-right: 16px;
        }
    }
}
.appllicant-page-detail {
	.admin-lt-content li {
		&:first-child {
			width: 580px;
            padding-left: 35px;
		}
		&:nth-child(2) {
			width: 190px;
		}
		&:nth-child(3) {
			width: 124px;
		}
		&:nth-child(4) {
			width: 71px;
            padding-left: 0;
		}
	}
    .lt-content-top li:nth-child(4) {
        padding-left: 11px;
    }
    .lt-content-main li:first-child {
        padding-left: 35px !important;
    }
    ul {
        border-bottom: none;
    }
    ul.status-green {
        border-top: 3px solid $status-green;
    }
    ul.status-red {
        border-top: 3px solid $status-red;
    }
    ul.status-blue {
        border-top: 3px solid $status-blue;
    }
    ul.status-black {
        border-top: 3px solid $status-black;
    }
    .del-oredit-appll {
        div {
            padding: 0 34px;
            font-size: 14px;
            font-weight: 600;
            line-height: 62px;
            text-transform: uppercase;
            border: none;
            border-radius: 6px;
            background-color: #fff;
            float: left;
            cursor: pointer;
            &:hover {
                background-color: #fef0f2;
            }
        }
        a:hover {
            text-decoration: none;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .jl-status-short {
        width: 22px;
        min-height: 22px;
    }
    .dropdown, .dropup {
        text-align: center;
        height: 100%;
        #dLabel {
            height: 100%;
            .jl-status-short {
                background-position: center center;
                display: block;
                height: 100%;
                width: 100%;
            }
        }
    }
    .dropdown-menu {
        width: 196px;
        margin-left: -125px;
        font-weight: 400 !important;
        &:hover {
            font-weight: 400 !important;
        }
        li {
            width: 100% !important;
            padding-left: 15px !important;
            text-transform: uppercase;
            font-weight: 400 !important;
            height: 40px !important;
            span {
                display: block;
                line-height: 40px;
                font-weight: 400 !important;
                &:hover {
                    font-weight: 400 !important;
                }
            }
            &:hover {
                font-weight: 400 !important;
                background-color: #e5f7fd;
            }
        }
        li.header-dropdown {
            margin-bottom: 20px;
            padding-left: 15px !important;
            font-weight: bold;
            span {
                display: inline-block;
            }
            &:hover{
                background-color: transparent;
            }
        }
    }
}
.applicant-list .admin-add.userAdd {
    margin-top: -75px;
}
.good-bad {
	margin: 36px 0 0 27px;
	width: 11px;
	height: 10px;
	background: url('../images/good-bad-icons.png') no-repeat -16px 0;
	&.must {
		background-position: -32px 0;
	}
	&.extended {
		background-position: 0 0;
	}
}
.lt-content-main.red-bg {
	background-color: $bg-red;
	&:hover {
		background-color: $bg-red !important;
	}
}